.main__title {
  font-size: 2.2rem !important;
}

.main__description {
  font-size: 0.9rem !important;
  width: 50vw;
}

.main__description-result {
  font-size: 0.9rem !important;
  width: 100%;
}

.btn {
  font-size: 0.8rem !important;
  margin-bottom: 10px;
}

.btn:hover {
  transform: scale(1.02);
}

@media (min-width: 576px) {
  .main__title {
    font-size: 2.3rem !important;
  }
  .main__description {
    font-size: 1rem !important;
  }
  .main__description-result {
    font-size: 1rem !important;
  }
  .btn {
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {
  .main__description {
    font-size: 1.1rem !important;
    width: 40vw;
  }
  .main__description-result {
    font-size: 1.1rem !important;
  }
}

@media (min-width: 1007px) {
  .main__title {
    font-size: 3rem !important;
  }

  .main__description {
    font-size: 1.2rem !important;
  }

  .main__description-result {
    font-size: 1.2rem !important;
  }

  .btn {
    font-size: 1.2rem !important;
  }
}
